body {
  background-color: #2b4e4a;
  font-family: Arial, sans-serif;
  color: #000;
  text-align: center;
  padding: 20px;
}

h1 {
background-color: #311313 ;
text-align: center;
color: white;
width:636px ;
margin:0 auto;
padding: 10px;
font-size: 64px;
line-height: 100%;
}

.table {
  border: 8px solid red;
  background-color: black;
  margin:0px auto;
  width: 1000px;
  height:638px;
  padding: 20px;
}

.text {
  background-color: #33e1b2;
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: 896PX;
  height: 259px;
  text-align:left;
  font-size: 25px;
}

